header {
    background-color: yellow;
    padding-top: 15%;
}
.container {
      border-radius: 5%;
      margin-left: 5%;
      margin-right: 5%;
    
    width: 90%;
    height: 15%;
    background-color: lawngreen;

 .navbar {
        overflow: hidden;
        background-color: #333;
        position: fixed; /* Set the navbar to fixed position */
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */

}