table {
    background-color: rgb(255, 255, 255);
    width: 600px;
    }
    td,th {
        padding: 0px;
            }
.border1 {
    width: 200px;
    height: 200px;
    background-color: red;
}
.border2 {
    margin-top: 0px;
    margin-left: 200px;;
    width: 200px;
    height: 200px;
    background-color:blue;
}
.border3 {
    margin-top: -300px;
    margin-left: 100px;
    width: 200px;
    height: 200px;
    background-color: rgb(10, 247, 10);
}
